@model List<OlympicMarathon.Models.LogModel>
<h2>View Runs</h2>
<table>
    <tr>
    <th>Id</th>
        <th>Date</th>
        <th>Distance</th>
        <th>Duration</th>
        <th>Avg Mile Page</th>
    </tr>
    @foreach (var log in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => log.Id)
            </td>

            <td>

            </td>

            <td>
                @*@Html.DisplayFor(model => log.Distance)
    @Html.DisplayFor(model => log.Distance.ToString() + " miles")
    @Html.DisplayFor(model => log.Distance) miles*@
                @log.Distance.ToString() @Html.TextArea("miles","content")
            </td>

            <td>
                @Html.DisplayFor(model => log.Time)
            </td>

            <td>

            </td>

            <td>
                @Html.ActionLink("Edit","EditLog", new {id = log.Id})
            </td>

            <td>
                @Html.ActionLink("Delete", "DeleteLog", new { id = log.Id })
            </td>
        </tr>
    }
</table>