@model OlympicMarathon.Models.LogModel

    <script src="@Url.Content("-/Scripts/jguery.validate.min.js")"></script>
    <script src="@Url.Content("-/Scripts/jguery.validate.unobtrusive.min.js")"></script>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>LogModel</legend>
            <div> @Html.LabelFor(model => model.RunDate) </div>

            <div> @Html.EditorFor(model => model.RunDate) @Html.ValidationMessageFor(model => model.RunDate) </div>

            <div> @Html.LabelFor(model => model.Distance) </div>

            <div> @Html.EditorFor(model => model.Distance) @Html.ValidationMessageFor(model => model.Distance) </div>

            <div> @Html.LabelFor(model => model.Time) HH:MM:SS </div>

            <div> @Html.EditorFor(model => model.Time) @Html.ValidationMessageFor(model => model.Time) </div>

            <p>
                <input type="submit" value="Create" i>
            </p>

        </fieldset>
    }